[Desktop Entry]
Name=24 Clock
Comment=24 Clock
Exec=PREFIX/mate-screensaver/24clock
TryExec=PREFIX/mate-screensaver/24clock
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=MATE;
X-Desktop-File-Install-Version=0.22
